{% extends 'base.html' %}
{% block title %}{{ block.super }} | APP{% endblock %}

{% block content %}

<h1>Public-Registry APP Homepage</h1>
<hr />
<br />

<style>
    #id {
        border-color: green ;
    }
</style>
<center>
    <div class="container">
      <div class="card border-success" style="width: 25rem; margin:7px;">
          <div class="card-body">
            <h3 class="card-title">Create new Profile</h3>
            <p class="card-text">API RESTFUL</p>
            <a href="{% url 'application:post' %}" class="btn btn-outline-dark">ACCESS</a>
          </div>
      </div>
        <div class="card border-success" style="width: 25rem; margin:7px;">
            <div class="card-body">
              <h3 class="card-title">Search, and filter any Profile</h3>
              <p class="card-text">API RESTFUL</p>
              <a href="{% url 'application:get' %}" class="btn btn-outline-dark">ACCESS</a>
            </div>
        </div>
        <div class="card border-success" style="width: 25rem; margin:7px;">
            <div class="card-body">
              <h3 class="card-title">Update Profile</h3>
              <p class="card-text">WEBAPI + RESTAPI</p>
              <a href="{% url 'application:put' %}" class="btn btn-outline-dark">ACCESS</a>
            </div>
        </div>
        <div class="card border-success" style="width: 25rem; margin:7px;">
            <div class="card-body">
              <h3 class="card-title">Delete Profile</h3>
              <p class="card-text">WEBAPI + RESTAPI</p>
              <a href="{% url 'application:search' %}" class="btn btn-outline-dark">ACCESS</a>
            </div>
        </div>
        <div class="card border-success" style="width: 25rem; margin:7px;">
            <div class="card-body">
              <h3 class="card-title">DOWNLOAD FILES</h3>
              <p class="card-text">WEBAPI</p>
              <a href="{% url 'application:download_filter' %}" class="btn btn-outline-dark">ACCESS</a>
            </div>
        </div>
    </div>
</center>



<br />
{% endblock %}