{% extends 'base.html' %}
{% block title %}{{ block.super }} | DOWNLOAD{% endblock %}
{% block content %}

<h1>Public-Registry Download Site</h1>
<hr />
<br />
<div class="container" style="width:600px;">
    <h3>Download all</h3>
    <a href="{% url 'application:download_all' %}" class="btn btn-outline-secondary" type="submit" >Download</a>
    <br />
    <br />
    <h3>Download: by form 1</h3>
    <form method="POST" action="{% url 'application:download_filter' %}">
        {% csrf_token %}
        {{ form_p.as_p }}
        <input class="btn btn-outline-secondary" type="submit" value="Download" />
    </form>
    <br />
    <br />
    <h3>Download: by form 2</h3>
    <form method="POST" action="{% url 'application:download_filter' %}">
        {% csrf_token %}
        {{ form_id.as_p }}
        <input class="btn btn-outline-secondary" type="submit" value="Download" />
    </form>
</div>
<br>
<br>
{% endblock %}