{% extends 'base.html' %}
{% block title %}{{ block.super }} | GET{% endblock %}
{% block content %}

<h1>Public-Registry GET Method</h1>
<hr />
<br />
<div class="container" style="width:600px;">
    <h3>All registry</h3>
    <a href="{% url 'api-rest:all' %}">
        <button class="btn btn-outline-success" type="submit">View</button>
    </a>
    <a href="{% url 'application:download_all' %}">
        <button class="btn btn-outline-warning" type="submit">Download</button>
    </a>
    <br />
    <br />
    <h3>To search a registry</h3>
    <form method="GET" action="{% url 'api-rest:filter' %}">
        {{ form_p.as_p }}
        <input class="btn btn-outline-secondary" type="submit" value="Search" />
    </form>
    <br />
    <br />
    <h3>To search a registry by id</h3>
    <form method="GET" action="{% url 'api-rest:id' %}">
        {{ form_id.as_p }}
        <input class="btn btn-outline-secondary" type="submit" value="Search" />
    </form>
</div>
<br>
<br>
{% endblock %}