{% extends 'base.html' %}
{% block title %}{{ block.super }}| POST{% endblock %}
{% block content %}

<h1>Public-Registry POST Method</h1>
<p>Welcome {{ user }}</p>
<hr />
<br />

<div class="container" style="width: 600px;">
<h3>POST Person Profile</h3>

<form method="POST" action="{% url 'api-rest:create' %}" enctype="multipart/form-data">
{% csrf_token %}
{{ form_p.as_p }}
<input class="btn btn-outline-secondary" type="submit" value="Submit" />
</form>

<br />
<h3>POST Person Address</h3>
<form method="POST">
{% csrf_token %}
{{ form_a.as_p }}
<input class="btn btn-outline-secondary" type="submit" value="Submit" />
</form>


<br>
<br>
</div>

{% endblock %}