{% extends 'base.html' %}
{% block title %}{{ block.super }}| PUT{% endblock %}
{% block content %}

<h1>Public-Registry PUT Method</h1>
<p>Welcome {{ user }}</p>
<hr />
<br />
<div class="container" style="width: 600px;">
    <h3>PUT Person Profile</h3>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form_id.as_p }} -->
        {% for field in form_id %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        <!-- <a href="{% url 'api-rest:id' {{id}} %}" type="btn btn-primary">Search Id</a> -->
        {% endfor %}
        <input class="btn btn-outline-secondary" type="submit" value='Search'/>
        <!-- {% if form_id.id %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form_p.as_p }}
            <input class="btn btn-outline-secondary" type="submit" value='Update'/>
        </form>
        {% endif %} -->
    </form>
    <br />
    <br />
</div>

{% endblock %}