<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public-Registry | HOME</title>
</head>
<body>
    <h1>Public-Registry</h1>
    <hr />
    <br />
    <h3>To view, and search any registry</h3>
    <a href="http://127.0.0.1:8000/app/get/">GET METHOD</a>
    <br />
    <h3>To post a new registry</h3>
    <a href="http://127.0.0.1:8000/app/post/">POST METHOD</a>
</body>
</html>