{% extends 'base.html' %}
{% block title %}{{ block.super }} | README{% endblock %}


{% block content %}
<h1>PATHS AND ENDPOINTS</h1>
<hr />
<br>
<div class="container">

<p>
    <br><b>PAGINA WEB:</b></br>
    <br><u>home</u>:</br>
    <br><i>[localhost]/</i></br>
    <br><u>documentation</u>:</br>
    <br><i>[localhost]/readme/</i></br>
<br>    </br>
    <br><b>APLICACION:</b></br>
    <br><u>webapp home</u>:</br>
    <br><i>[localhost]/app/</i></br>
    <br><u>Read profiles</u>:</br>
    <br><i>[localhost]/app/get/</i></br>
    <br><u>Create profile</u>:</br>
    <br><i>[localhost]/app/post/</i></br>
    <br><u>Update profile</u>:</br>
    <br><i>[localhost]/app/put/ -> [localhost]/app/update/</i></br>
    <br><u>Delete profile</u>:</br>
    <br><i>[localhost]/app/search/ -> [localhost]/app/delete/</i></br>
    <br><u>Download files</u>:</br>
    <br><i>[localhost]/app/person/download/2/</i></br>
<br>    </br>
    <br><b>REST LAYER ENDPOINTS</b></br>
    <br><u>Read all profiles</u>:</br>
    <br><i>[localhost]/api/v1/person/1/</i></br>
    <br><u>Read filter 1</u>: first_name, last_name, age</br>
    <br><i>[localhost]/api/v1/person/2/</i></br>
    <br><u>Read filter 2</u>: id</br>
    <br><i>[localhost]/api/v1/person/id/</i></br>
    <br><u>Create profile</u>:</br>
    <br><i>[localhost]/api/v1/person/create/</i></br>
    <br><u>Create address</u>:</br>
    <br><i>[localhost]/api/v1/address/create/</i></br>
    <br><u>Update profile</u>:</br>
    <br><i>[localhost]/api/v1/person/(id)/edit/</i></br>
    <br><u>Delete profile</u>:</br>
    <br><i>[localhost]/api/v1/person/(id)/delete/</i></br>
<br></p></br>
</div>

{% endblock %}
        