{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{{ block.super }} | README{% endblock %}
</head>

<body>
    {% block content %}
    <h1>Documentacion de las rutas endpoint de las API Rest</h1>
    <br>
    <b>
        <p>1) home:</p>
    </b>
    <br>
    <p>- GET: http://localhost:8000/</p>
    <br>
    <br>
    <b>
        <p>2) GET Method forms:</p>
    </b>
    <br>
            <p>- GET: http://localhost:8000/app/get/</p>
            <br>
            <br>
            <b>
        <p>3) GET REST endpoints:</p>
    </b>
    <br>
    <p>- GET: http://localhost:8000/api/v1/person/1/</p>
    <p>- GET: http://localhost:8000/api/v1/person/2/?first_name=&last_name=&age=</p>
    <p>- GET: http://localhost:8000/api/v1/person/id/?id=</p>
    <br>
    <i>El parámetro query "id" admite el caracter "*" al comienzo, al final o ambos extremos, para obtener todos los resultados que coincidan luego de su posición.</i>
    <br>
    <br>
    <b>
        <p>4) POST Method forms:</p>
    </b>
    <br>
    <p>- GET: http://localhost:8000/app/post/</p>
    <br>
    <br>
    <b>
        <p>5) POST REST endpoint:</p>
    </b>
    <br>
    <p>- POST: http://localhost:8000/api/v1/person/create/</p>
    <br>
    <br>
    <b>
        <p>6) PUT REST endpoint:</p>
    </b>
    <br>
    <p>- PUT: http://localhost:8000/api/v1/person/<id>/edit/</p>
        <br>
        <br>
        <b>
            <p>7) DELETE REST endpoint:</p>
        </b>
        <br>
        <p>- DELETE: http://localhost:8000/api/v1/person/<id>/delete/</p>
            <br>
            <br>
            <br>
        {% endblock %}
        </body>
        
        </html>